<!--
  ==========================================================
  Title: not-found.html
  Author: Ace Baugh
  Date: April 9, 2023
  Description: Not found component for 404 error
  ==========================================================
-->

<div class="not-found-content">
  <h1 class="warn">404, Page Not Found!</h1>
  <p class="warn">Sorry, the page you are looking for does not exist.</p>
  <p class="warn">Try again or go back to the home page.</p>

  <i class="pi pi-ban" style="color: var(--warn)"></i>

  <button class="toolbar-link btn" routerLink="/" mat-button>
    Return Home
  </button>
</div>
