<!--
  ==========================================================
  Title: about.component.html
  Author: Ace Baugh
  Date: April 9, 2023
  Description: This is the about page.
  ==========================================================
-->

<div class="about-content p-2">
  <h1 class="about-title">About nodebucket</h1>

  <img src="../../../assets/wallpaper.png" class="about-img" />
  <p class="about-description">
    Welcome to NodeBucket, the ultimate todo list app designed to help you stay
    organized and productive. Our app was created by a team of talented alumni
    from the Ravenclaw Hogwarts House who share a passion for technology and
    innovation.
  </p>
  <p class="about-description">
    At NodeBucket, we understand the importance of keeping track of your daily
    tasks, and we wanted to create a simple yet effective solution to help you
    manage your busy schedule. Our app allows you to add todo items, rearrange
    them, move them to a done list, and delete them, all with just a few clicks.
    With NodeBucket, you can easily prioritize your tasks and stay on top of
    your to-do list.
  </p>
  <p class="about-description">
    We take pride in our user-friendly interface and efficient design, ensuring
    that even the busiest users can easily navigate our app. Whether you're a
    student, a professional, or a busy parent, NodeBucket is the perfect
    solution to help you stay organized and focused. Join the thousands of users
    who have already discovered the benefits of using NodeBucket and take
    control of your to-do list today.
  </p>

  <div class="about-action">
    <button class="toolbar-link btn" routerLink="/" mat-button>
      Get Started
    </button>
  </div>
</div>
