.container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
}

.login-container {
  background: var(--gray-transparent);
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
}

.login-title {
  text-align: center;
  font-size: 35px;
}

.login-subtitle {
  text-align: center;
  color: var(--accent);
}

.sign-in-header {
  background: var(--secondary-transparent);
  height: 80px;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

.sign-in-container {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p-messages {
  height: 20px;
}
