<!--
  ==========================================================
  Title: home.component.html
  Author: Ace Baugh
  Date: April 2, 2023
  Description: Home component
  ==========================================================
-->

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files
      for code attribution, and do not wait until the last minute to begin
      working on your tasks.
    </span>
  </h1>
</div>

<!-- Main content -->
<div class="main-content">
  <div>
    <p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
  </div>
  <!-- Create Items for ToDo List -->
  <div class="create-task-container">
    <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
      <div class="create-task-input-container">
        <input
          formControlName="task"
          class="create-task-input"
          placeholder="Enter A Task Name..."
        />
        <div class="create-task-input-button">
          <!-- primeng plus icon -->
          <button type="submit" [disabled]="!taskForm.valid" class="create-button">
            <p class="create-plus">+</p>
          </button>
        </div>
      </div>

      <div class="errors-container">
        <!-- Error Message -->
        <div *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
          <p class="error-message">Task is a required field</p>
        </div>

        <div *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
          <p class="error-message">The task field must be at least 3 characters in length</p>
        </div>

        <div *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
          <p class="error-message">The task field must be less than 35 characters in length</p>
        </div>
      </div>
    </form>
  </div>

  <!-- Tasks Viewing Area -->
  <div class="all-tasks-container">
    <div class="row">
      <!-- To-Do Tasks -->
      <div class="tasks">
        <div class="tasks-header">ToDo</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">ToDo Tasks:</div>
            <div class="tasks-counter-count">{{ todo.length }}</div>
          </div>
          <!-- If no tasks, place empty task holder-->
          <div *ngIf="todo.length === 0; else elseToDoBlock" class="tasks-list">
            <div class="empty-spot">No Tasks</div>
          </div>
          <ng-template #elseToDoBlock>
            <!-- Loop of ToDo Tasks -->
            <div class="tasks-list" *ngFor="let task of todo">
              <!-- If tasks, place the list of tasks -->
              <div class="task-item" cdkDrag>
                <i class="pi pi-bars task-move"></i>
                <div class="task-item-title">{{ task.text }}</div>
                <i class="pi pi-trash tasks-item-delete"></i>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- *** Doing Tasks For Later *** -->
      <div class="tasks">
        <div class="tasks-header">Doing</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">Doing Tasks:</div>
            <div class="tasks-counter-count">{{doing.length}}</div>
          </div>
          <!-- If no tasks, place empty task holder -->
          <div *ngIf="doing.length === 0; else elseDoingBlock" class="tasks-list">
            <div class="empty-spot">No Tasks</div>
          </div>
          <ng-template #elseDoingBlock>
            <!-- Loop of Doing Tasks -->
            <div class="tasks-list" *ngFor="let tasks of doing">
              <!-- If tasks, place the list of tasks -->
              <div class="task-item">
                <i class="pi pi-bars task-move"></i>
                <div class="task-item-title">{{ tasks.text }}</div>
                <i class="pi pi-trash tasks-item-delete"></i>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Done Tasks -->
      <div class="tasks">
        <div class="tasks-header">Done</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">Done Tasks:</div>
            <div class="tasks-counter-count">{{ done.length }}</div>
          </div>
          <!-- If no tasks, place empty task holder-->
          <div *ngIf="done.length === 0; else elseDoneBlock" class="tasks-list">
            <div class="empty-spot">No Tasks</div>
          </div>
          <ng-template #elseDoneBlock>
            <!-- Loop of Done Tasks -->
            <div class="tasks-list" *ngFor="let task of done">
              <!-- If tasks, place the list of tasks -->
              <div class="task-item">
                <i class="pi pi-bars task-move"></i>
                <div class="task-item-title">{{ task.text }}</div>
                <i class="pi pi-trash tasks-item-delete"></i>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
