<!--
  ==========================================================
  Title: home.component.html
  Author: Ace Baugh
  Date: March 29, 2023
  Description: Home component
  ==========================================================
-->

<div fxLayout="column" class="main-welcome">
  <h1 class="title">
    Welcome to WEB 450's - nodebucket Project <br />
    <span class="subtitle">
      Pay close attention to the requirements, double and triple check the files
      for code attribution, and do not wait until the last minute to begin
      working on your tasks.
    </span>
  </h1>
</div>

<!-- Main content -->
<div fxLayout="column" class="main-content">
  <div>
    <p-messages [(value)]="serverMessages" [enableService]="false"></p-messages>
  </div>
  <!-- Create Items for ToDo List -->
  <div class="task-create-container">
    <form [formGroup]="taskForm" (ngSubmit)="createTask(); taskForm.reset();">
      <div class="task-input-container">
        <input
          formControlName="task"
          class="task-input"
          placeholder="Enter A Task Name..."
        />
        <div class="task-input-button">
          <!-- primeng plus icon -->
          <button type="submit" [disabled]="!taskForm.valid">
            +
          </button>
        </div>
      </div>

      <div class="errors-container">
        <!-- Error Message -->
        <div *ngIf="taskForm.controls['task'].hasError('required') && taskForm.controls['task'].touched">
          <p class="error-message">Task is a required field</p>
        </div>

        <div *ngIf="taskForm.controls['task'].hasError('minlength') && taskForm.controls['task'].touched">
          <p class="error-message">The task field must be at least 3 characters in length</p>
        </div>

        <div *ngIf="taskForm.controls['task'].hasError('maxlength') && taskForm.controls['task'].touched">
          <p class="error-message">The task field must be less than 35 characters in length</p>
        </div>
      </div>
    </form>
  </div>

  <!-- Tasks Viewing Area -->
  <div class="all-tasks-container">
    <div class="row">
      <!-- To-Do Tasks -->
      <div class="tasks">
        <div class="tasks-header">ToDo</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">ToDo Items:</div>
            <div class="tasks-counter-count">{{ todo.length }}</div>
          </div>
          <!-- Loop of ToDo Tasks -->
          <div class="tasks-list" *ngFor="let task of todo">
            <!-- If no tasks, place empty  task holder-->
            <div *ngIf="todo.length === 0">
              <div class="empty-spot"></div>
            </div>
            <!-- If tasks, place the list of tasks -->
            <div class="task-item">
              <i class="pi pi-bars task-move"></i>
              <div class="task-item-title">{{ task.text }}</div>
              <i class="pi pi-trash tasks-item-delete"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- Doing Tasks
      <div class="tasks">
        <div class="tasks-header">Doing</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">Doing Tasks:</div>
            <div class="tasks-counter-count">1</div>
          </div>
          <div class="tasks-list">
            <div class="task-item">
              <i class="pi pi-bars task-move"></i>
              <div class="task-item-title">This is an item in my ToDo list This is an item in my ToDo list This is an item in my ToDo list This is an item in my ToDo list</div>
              <i class="pi pi-trash tasks-item-delete"></i>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Done Tasks -->
      <div class="tasks">
        <div class="tasks-header">Done</div>
        <div class="tasks-container">
          <div class="tasks-counter">
            <div class="tasks-counter-title">Done Items:</div>
            <div class="tasks-counter-count">{{ done.length }}</div>
          </div>
          <!-- Loop of Done Tasks -->
          <div class="tasks-list" *ngFor="let task of done">
            <!-- If no tasks, place empty  task holder-->
            <div *ngIf="done.length == 0; else elseBlock">
              <div class="empty-spot">hi</div>
            </div>
            <!-- If tasks, place the list of tasks -->
            <ng-template #elseBlock>
              <div class="task-item">
                <i class="pi pi-bars task-move"></i>
                <div class="task-item-title">{{ task.text }}</div>
                <i class="pi pi-trash tasks-item-delete"></i>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
