/*
============================================
; Title: home.component.css
; Author: Ace Baugh
; Date: March 15, 2023
; Description: Home component styles
============================================
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
