/*
============================================
; Title: home.component.css
; Author: Ace Baugh
; Date: March 26, 2023
; Description: Home component styles
============================================
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 700;
  color: var(--secondary);
}

.subtitle {
  text-align: center;
  font-size: 14px;
  padding: 0 30px;
}
