<!--
  ==========================================================
  Title: base-layout.component.html
  Author: Ace Baugh
  Date: March 29, 2023
  Description: Base layout component
  ==========================================================
-->

<div class="base-wrapper">
  <!-- navigation -->
  <nav class="navbar">
    <div class="logo">
      <!-- logo -->
      <button class="toolbar-link" routerLink="/" mat-button>
        <img src="../../../assets/wallpaper.png" height="40px" />
      </button>
    </div>

    <!-- navbar container -->
    <div class="navbar-container">
      <div class="navbar-link-container">
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
      </div>
      <div class="navbar-link-container">
        <button class="navbar-link" routerLink="/about" mat-button>
          About
        </button>
      </div>
      <div class="navbar-link-container">
        <button class="navbar-link" routerLink="/contact" mat-button>
          Contact
        </button>
      </div>
    </div>

    <div class="signed-in-container">
      <button
        mat-icon-button
        [matMenuTriggerFor]="profileMenu"
        aria-label="User profile menu"
      >
        <mat-icon>perm_identity</mat-icon>
      </button>

      <mat-menu #profileMenu="matMenu">
        <div *ngIf="sessionName">
          <p class="signed-in-as">Signed in as {{ sessionName }}</p>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </div>
        <div *ngIf="!sessionName">
          <button mat-menu-item routerLink="/">
            <mat-icon>login</mat-icon>
            <span>Login</span>
          </button>
        </div>
      </mat-menu>
    </div>
  </nav>

  <!-- main content -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

  <!-- footer -->
  <footer class="footer">
    <mat-toolbar class="footer-content">
      <p>
        &copy; {{ year | date : "yyyy" }} - nodebucket -
        <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
          >Bellevue University</a
        >
      </p>
    </mat-toolbar>
  </footer>
</div>
