/*
============================================
; Title: base-layout.component.css
; Author: Ace Baugh
; Date: April 2, 2023
; Description: Base layout component styles
============================================
*/

.base-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--primary-transparent);
  box-shadow: 0 0 2px var(--gray), 0 0 20px 20px var(--secondary);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-primary) !important;
  z-index: 1;
  position: sticky;
}

.logo,
.signed-in-container {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  max-width: 800px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-family: var(--font-primary) !important;
}

.navbar-link {
  font-size: 24px;
  font-weight: 700;
}

.signed-in-as {
  color: var(--primary);
  padding: 1rem;
}

.main-content {
  background-color: var(--gray-transparent);
  color: var(--secondary);
  font-weight: 700;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
}

.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 0 2px var(--gray), 0 0 20px 20px var(--secondary);
}

.footer-content {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.bu-link {
  text-decoration: none;
  color: var(--gray);
}

.bu-link:hover {
  text-decoration: underline;
}
