/*
============================================
; Title: styles.css
; Author: Ace Baugh
; Date: March 29, 2023
; Description: Styles for the app
============================================
*/

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti:wght@400;500;700&display=swap");

:root {
  --primary: #0e1a40;
  --primary-transparent: rgba(14, 26, 64, 0.7);
  --secondary: #222f5b;
  --secondary-transparent: rgba(34, 47, 91, 0.7);
  --gray: #bebebe;
  --gray-transparent: rgba(190, 190, 190, 0.7);
  --accent: #946b2d;
  --accent-transparent: rgba(148, 107, 45, 0.7);
  --warn: #6c161c;
  --warn-transparent: rgba(108, 22, 28, 0.7);
  --font-primary: "Kaisei Opti", serif;
}

* {
  font-family: var(--font-primary);
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: url(./assets/wallpaper.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  font-family: var(--font-primary) !important;
}

button {
  font-family: var(--font-primary) !important;
}

.wallpaper-cover {
  background: var(--primary-transparent);
  height: 100%;
}

p-messages {
  margin: 0;
  padding: 1rem 0 0.5rem 0;
  display: block !important;
  height: 4.5rem !important;
}

.p-component {
  font-family: var(--font-primary) !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
}

.p-message.p-message-error {
  background: var(--warn-transparent) !important;
  border: solid transparent !important;
  border-width: 0 0 0 0 !important;
  color: var(--warn) !important;
  font-weight: 700 !important;
}

.p-message-wrapper {
  padding: 0.5rem 1rem !important;
}
.p-message.p-message-error .p-message-icon {
  color: var(--warn) !important;
}

.p-message.p-message-error .p-message-close {
  color: var(--warn) !important;
}

.mat-error {
  color: var(--warn) !important;
}

.p-message .p-message-summary {
  font-weight: 700;
  font-family: var(--font-primary) !important;
}

.mat-form-field {
  font-family: var(--font-primary) !important;
  font-size: inherit;
  color: var(--primary) !important;
  font-weight: 700 !important;
  line-height: 1.125;
  letter-spacing: normal;
}

.mat-input-element {
  caret-color: var(--secondary) !important;
}

.mat-form-field-ripple {
  background-color: var(--primary) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: var(--warn) !important;
}

.sign-in-form {
  width: 85%;
}

.mat-form-field {
  display: block !important;
  position: relative;
  text-align: left;
}

.mat-menu-panel {
  color: var(--primary) !important;
  background: var(--gray) !important;
  font-weight: 700 !important;
}

.mat-menu-item .mat-icon-no-color,
.mat-menu-submenu-icon {
  color: var(--accent) !important;
  font-weight: 700;
}

.mat-menu-item {
  font-size: 1rem !important;
}

.mat-typography p {
  margin: 0;
}

.mat-toolbar {
  background: var(--primary) !important;
  color: var(--gray) !important;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.transparent-text {
  color: transparent;
}

.default-text {
  color: var(--primary);
}
